div {
  padding: 10px;
}

#upload {
  border-bottom: solid black;
  border-width: thin;
}

#run-info {
  border-bottom: solid black;
  border-width: thin;
}


#game-state {
  float: left;
  width: 50%;
}

#messages {
  float: left;
  width: 25%;
  overflow: hidden;
  border-left: solid black;
  border-width: thin;

}

.turns:after {
  content: "";
  display: table;
  clear: both;
}

#player-input {
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

.state td {
  vertical-align: top;
}